* {
  font-family: "Courier New", Courier, monospace;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#userMessage {
  color: salmon;
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 200px;
  height: 300px;
  /* border: 1px solid gray; */
  margin: 15px;
  box-shadow: 5px 5px 10px salmon;
}

img {
  border-radius: 50%;
  width: 80%;
}

a,
a:visited {
  text-decoration: none;
  color: #333;
}
