* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #333;
}

#userMessage {
  color: salmon;
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
}

button,
input {
  padding: 3px 10px;
  border-radius: 10px;
}
